In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../../data/chocolate.csv')
df

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,5,Jacque Torres,U.S.A.,2006,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00
1,15,Neuhaus (Callebaut),Belgium,2006,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75
2,15,Neuhaus (Callebaut),Belgium,2006,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00
3,15,Scharffen Berger,U.S.A.,2006,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50
4,15,Scharffen Berger,U.S.A.,2006,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00
...,...,...,...,...,...,...,...,...,...,...
2357,995,Bahen & Co.,Australia,2012,Madagascar,Sambirano,70%,"2- B,S","unrefined, flat, grassy",3.00
2358,999,Mast Brothers,U.S.A.,2012,Venezuela,Chuao,73%,"2- B,S","gritty, sour, sweet",2.75
2359,999,Mast Brothers,U.S.A.,2012,Blend,Madagascar,72%,"2- B,S","gritty, overly tart, sour",2.50
2360,999,Bahen & Co.,Australia,2012,Brazil,Bahia,70%,"2- B,S","chalky, intense, chemical",2.50
2361,999,Bahen & Co.,Australia,2012,Blend,Houseblend,70%,"2- B,S","chalky, fragrant, then off",2.50

In [3]:
df["Country of Bean Origin"].value_counts()

Venezuela             246
Peru                  223
Ecuador               216
Dominican Republic    211
Madagascar            168
                     ...
DR Congo                1
Burma                   1
Martinique              1
Sumatra                 1
Gabon                   1
Name: Country of Bean Origin, Length: 61, dtype: int64

In [4]:
#we're using Daniel's github branch to access the dataset

In [5]:
#separate ingredients columns into each element, a new column for each number for, each letter (B, S, C)
#drop nulls for ingredients

In [6]:
df = df.dropna(subset = ['Ingredients'])

In [7]:
df.isna().sum()

REF                                 0
Company (Manufacturer)              0
Company Location                    0
Review Date                         0
Country of Bean Origin              0
Specific Bean Origin or Bar Name    0
Cocoa Percent                       0
Ingredients                         0
Most Memorable Characteristics      0
Rating                              0
dtype: int64

In [8]:
#one hot encode the years - it should be a category

In [9]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

In [10]:
df.dtypes

REF                                   int64
Company (Manufacturer)               object
Company Location                     object
Review Date                           int64
Country of Bean Origin               object
Specific Bean Origin or Bar Name     object
Cocoa Percent                        object
Ingredients                          object
Most Memorable Characteristics       object
Rating                              float64
dtype: object

In [11]:
#I don't remember why I tried to do this
#(df["Review Date"]).astype(int)

In [12]:
.years use datetime
method like explode
explode the date into columns

SyntaxError: invalid syntax (<ipython-input-12-16ae70809918>, line 1)

In [ ]:
#(df["Review Date"]).astype()

In [13]:
df['year'] = pd.DatetimeIndex(df['Review Date']).year

<ipython-input-13-50b376692269>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = pd.DatetimeIndex(df['Review Date']).year

In [14]:
df.loc[:,'Review Date'] = pd.to_datetime(df['Review Date'])

C:\Users\bisco\anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

Below is the successful datetime conversion

In [15]:
pd.to_datetime(df.loc[:,'Review Date'])
#This did nothing - (df.loc[:,'Review Date']).astype('datetime64[Y]')

0      1970-01-01 00:00:00.000002006
1      1970-01-01 00:00:00.000002006
2      1970-01-01 00:00:00.000002006
3      1970-01-01 00:00:00.000002006
4      1970-01-01 00:00:00.000002006
                    ...
2357   1970-01-01 00:00:00.000002012
2358   1970-01-01 00:00:00.000002012
2359   1970-01-01 00:00:00.000002012
2360   1970-01-01 00:00:00.000002012
2361   1970-01-01 00:00:00.000002012
Name: Review Date, Length: 2274, dtype: datetime64[ns]

In [16]:
df.dtypes

REF                                          int64
Company (Manufacturer)                      object
Company Location                            object
Review Date                         datetime64[ns]
Country of Bean Origin                      object
Specific Bean Origin or Bar Name            object
Cocoa Percent                               object
Ingredients                                 object
Most Memorable Characteristics              object
Rating                                     float64
year                                         int64
dtype: object

In [17]:
#df['Date']= pd.to_datetime(df['Date'])

In [18]:
df

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating,year
0,5,Jacque Torres,U.S.A.,1970-01-01 00:00:00.000002006,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00,1970
1,15,Neuhaus (Callebaut),Belgium,1970-01-01 00:00:00.000002006,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75,1970
2,15,Neuhaus (Callebaut),Belgium,1970-01-01 00:00:00.000002006,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00,1970
3,15,Scharffen Berger,U.S.A.,1970-01-01 00:00:00.000002006,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50,1970
4,15,Scharffen Berger,U.S.A.,1970-01-01 00:00:00.000002006,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00,1970
...,...,...,...,...,...,...,...,...,...,...,...
2357,995,Bahen & Co.,Australia,1970-01-01 00:00:00.000002012,Madagascar,Sambirano,70%,"2- B,S","unrefined, flat, grassy",3.00,1970
2358,999,Mast Brothers,U.S.A.,1970-01-01 00:00:00.000002012,Venezuela,Chuao,73%,"2- B,S","gritty, sour, sweet",2.75,1970
2359,999,Mast Brothers,U.S.A.,1970-01-01 00:00:00.000002012,Blend,Madagascar,72%,"2- B,S","gritty, overly tart, sour",2.50,1970
2360,999,Bahen & Co.,Australia,1970-01-01 00:00:00.000002012,Brazil,Bahia,70%,"2- B,S","chalky, intense, chemical",2.50,1970
2361,999,Bahen & Co.,Australia,1970-01-01 00:00:00.000002012,Blend,Houseblend,70%,"2- B,S","chalky, fragrant, then off",2.50,1970

In [19]:
#let's fix that nanosecond thing

In [20]:
df['Review Date'] = df['Review Date'].astype('datetime64[Y]')

<ipython-input-20-f8bd6166a227>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Review Date'] = df['Review Date'].astype('datetime64[Y]')

In [21]:
import datetime

In [22]:
df['Review Date'].dt.year

0       1970
1       1970
2       1970
3       1970
4       1970
        ...
2357    1970
2358    1970
2359    1970
2360    1970
2361    1970
Name: Review Date, Length: 2274, dtype: int64

In [23]:
df

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating,year
0,5,Jacque Torres,U.S.A.,1970-01-01,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00,1970
1,15,Neuhaus (Callebaut),Belgium,1970-01-01,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75,1970
2,15,Neuhaus (Callebaut),Belgium,1970-01-01,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00,1970
3,15,Scharffen Berger,U.S.A.,1970-01-01,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50,1970
4,15,Scharffen Berger,U.S.A.,1970-01-01,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00,1970
...,...,...,...,...,...,...,...,...,...,...,...
2357,995,Bahen & Co.,Australia,1970-01-01,Madagascar,Sambirano,70%,"2- B,S","unrefined, flat, grassy",3.00,1970
2358,999,Mast Brothers,U.S.A.,1970-01-01,Venezuela,Chuao,73%,"2- B,S","gritty, sour, sweet",2.75,1970
2359,999,Mast Brothers,U.S.A.,1970-01-01,Blend,Madagascar,72%,"2- B,S","gritty, overly tart, sour",2.50,1970
2360,999,Bahen & Co.,Australia,1970-01-01,Brazil,Bahia,70%,"2- B,S","chalky, intense, chemical",2.50,1970
2361,999,Bahen & Co.,Australia,1970-01-01,Blend,Houseblend,70%,"2- B,S","chalky, fragrant, then off",2.50,1970

In [24]:
df["year"] = df['Review Date'].dt.year

<ipython-input-24-2df2a9c861bd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year"] = df['Review Date'].dt.year

In [25]:
df.drop('Review Date', axis=1)

,REF,Company (Manufacturer),Company Location,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating,year
0,5,Jacque Torres,U.S.A.,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00,1970
1,15,Neuhaus (Callebaut),Belgium,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75,1970
2,15,Neuhaus (Callebaut),Belgium,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00,1970
3,15,Scharffen Berger,U.S.A.,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50,1970
4,15,Scharffen Berger,U.S.A.,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00,1970
...,...,...,...,...,...,...,...,...,...,...
2357,995,Bahen & Co.,Australia,Madagascar,Sambirano,70%,"2- B,S","unrefined, flat, grassy",3.00,1970
2358,999,Mast Brothers,U.S.A.,Venezuela,Chuao,73%,"2- B,S","gritty, sour, sweet",2.75,1970
2359,999,Mast Brothers,U.S.A.,Blend,Madagascar,72%,"2- B,S","gritty, overly tart, sour",2.50,1970
2360,999,Bahen & Co.,Australia,Brazil,Bahia,70%,"2- B,S","chalky, intense, chemical",2.50,1970
2361,999,Bahen & Co.,Australia,Blend,Houseblend,70%,"2- B,S","chalky, fragrant, then off",2.50,1970

Do beans of the same latitude taste better

Is there correlation between latitude and quality


We could look into climate
What country makes best chocolate


Labor markets

Price of beans per country

Where do most people source cocoa beans

I will search for datasets

In [26]:
#I suggest running two train test splits so you have both testing? and validation data

In [27]:
tempandrain = pd.read_excel('/phase3project/bsc-phase-three-project/notebooks/exploratory/colette/cckp_historical_data_0)

SyntaxError: EOL while scanning string literal (<ipython-input-27-9d144010877e>, line 1)

In [28]:
df["Country of Bean Origin"].value_counts(normalize=True)

Venezuela             0.105101
Peru                  0.092348
Dominican Republic    0.090150
Ecuador               0.087071
Madagascar            0.071240
                        ...
Tobago                0.000440
Martinique            0.000440
Sumatra               0.000440
Principe              0.000440
Burma                 0.000440
Name: Country of Bean Origin, Length: 61, dtype: float64

In [29]:
df.shape

(2274, 11)

Support Vector Classifiers (SVCs)
Try it as binary - make it two buckets
The seven buckets can be your secondary result
Is it good or bad first

In [34]:
tempandrain = pd.read_excel('../../../data/cckp_historical_data_0.xls')

In [35]:
tempandrain

    Climate Change Knowledge Portal:  Historical Data
0                                      The World Bank
1                                    December 1, 2011
2   This workbook contains historical temperature ...
3       This workbook contains four (4) spreadsheets:
4   Country_precipitationCRU:  mean monthly and an...
5   Country_temperatureCRU:  mean monthly and annu...
6   Basin_precipitationCRU:  mean monthly and annu...
7   Basin_temperatureCRU:  mean monthly and annual...
8                    COLUMN LAYOUT FOR COUNTRY TABLES
9   ISO_3DIGIT:  3-digit ISO country code, where a...
10  The remaining columns contain mean values for ...
11                     COLUMN LAYOUT FOR BASIN TABLES
12                               WBHUC:  the basin ID
13  The remaining columns are the same as those on...

In [36]:
tempandrain.shape

(14, 1)

In [39]:
latlong = pd.read_csv('../../../data/gsoy_sample_csv.csv')

In [40]:
latlong

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,CLDD,CLDD_ATTRIBUTES,HTDD,HTDD_ATTRIBUTES,...,AWND,AWND_ATTRIBUTES,WDF2,WDF2_ATTRIBUTES,WDF5,WDF5_ATTRIBUTES,WSF2,WSF2_ATTRIBUTES,WSF5,WSF5_ATTRIBUTES
0,USW00014768,"ROCHESTER GREATER INTERNATIONAL, NY US",43.1167,-77.6767,164.3,2015,376,W,3834,W,...,8.9,W,250.0,W,270.0,W,42.9,W,57.9,W
1,USC00309049,"WEBSTER 2 NE, NY US",43.2419,-77.3882,83.8,2015,319,7,3914,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN