In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../../../data/chocolate.csv')
df

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,5,Jacque Torres,U.S.A.,2006,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00
1,15,Neuhaus (Callebaut),Belgium,2006,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75
2,15,Neuhaus (Callebaut),Belgium,2006,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00
3,15,Scharffen Berger,U.S.A.,2006,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50
4,15,Scharffen Berger,U.S.A.,2006,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00
...,...,...,...,...,...,...,...,...,...,...
2357,995,Bahen & Co.,Australia,2012,Madagascar,Sambirano,70%,"2- B,S","unrefined, flat, grassy",3.00
2358,999,Mast Brothers,U.S.A.,2012,Venezuela,Chuao,73%,"2- B,S","gritty, sour, sweet",2.75
2359,999,Mast Brothers,U.S.A.,2012,Blend,Madagascar,72%,"2- B,S","gritty, overly tart, sour",2.50
2360,999,Bahen & Co.,Australia,2012,Brazil,Bahia,70%,"2- B,S","chalky, intense, chemical",2.50
2361,999,Bahen & Co.,Australia,2012,Blend,Houseblend,70%,"2- B,S","chalky, fragrant, then off",2.50

In [16]:
df["Country of Bean Origin"].value_counts()

Venezuela             246
Peru                  223
Ecuador               216
Dominican Republic    211
Madagascar            168
                     ...
Sumatra                 1
Sulawesi                1
Burma                   1
Gabon                   1
DR Congo                1
Name: Country of Bean Origin, Length: 61, dtype: int64

In [17]:
#we're using Daniel's github branch to access the dataset

In [18]:
#separate ingredients columns into each element, a new column for each number for, each letter (B, S, C)
#drop nulls for ingredients

In [19]:
df = df.dropna(subset = ['Ingredients'])

In [20]:
df.isna().sum()

REF                                 0
Company (Manufacturer)              0
Company Location                    0
Review Date                         0
Country of Bean Origin              0
Specific Bean Origin or Bar Name    0
Cocoa Percent                       0
Ingredients                         0
Most Memorable Characteristics      0
Rating                              0
dtype: int64

In [21]:
df

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,5,Jacque Torres,U.S.A.,2006,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00
1,15,Neuhaus (Callebaut),Belgium,2006,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75
2,15,Neuhaus (Callebaut),Belgium,2006,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00
3,15,Scharffen Berger,U.S.A.,2006,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50
4,15,Scharffen Berger,U.S.A.,2006,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00
...,...,...,...,...,...,...,...,...,...,...
2357,995,Bahen & Co.,Australia,2012,Madagascar,Sambirano,70%,"2- B,S","unrefined, flat, grassy",3.00
2358,999,Mast Brothers,U.S.A.,2012,Venezuela,Chuao,73%,"2- B,S","gritty, sour, sweet",2.75
2359,999,Mast Brothers,U.S.A.,2012,Blend,Madagascar,72%,"2- B,S","gritty, overly tart, sour",2.50
2360,999,Bahen & Co.,Australia,2012,Brazil,Bahia,70%,"2- B,S","chalky, intense, chemical",2.50
2361,999,Bahen & Co.,Australia,2012,Blend,Houseblend,70%,"2- B,S","chalky, fragrant, then off",2.50

In [22]:
#one hot encode the years - it should be a category

In [23]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

In [24]:
df.dtypes

REF                                   int64
Company (Manufacturer)               object
Company Location                     object
Review Date                           int64
Country of Bean Origin               object
Specific Bean Origin or Bar Name     object
Cocoa Percent                        object
Ingredients                          object
Most Memorable Characteristics       object
Rating                              float64
dtype: object

In [25]:
#I don't remember why I tried to do this
#(df["Review Date"]).astype(int)

In [26]:
.years use datetime
method like explode
explode the date into columns

SyntaxError: invalid syntax (<ipython-input-26-16ae70809918>, line 1)

In [27]:
#(df["Review Date"]).astype()

In [28]:
df['year'] = pd.DatetimeIndex(df['Review Date']).year

<ipython-input-28-50b376692269>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = pd.DatetimeIndex(df['Review Date']).year

In [29]:
df.loc[:,'Review Date'] = pd.to_datetime(df['Review Date'])

C:\Users\bisco\anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

Below is the successful datetime conversion

In [30]:
pd.to_datetime(df.loc[:,'Review Date'])
#This did nothing - (df.loc[:,'Review Date']).astype('datetime64[Y]')

0      1970-01-01 00:00:00.000002006
1      1970-01-01 00:00:00.000002006
2      1970-01-01 00:00:00.000002006
3      1970-01-01 00:00:00.000002006
4      1970-01-01 00:00:00.000002006
                    ...
2357   1970-01-01 00:00:00.000002012
2358   1970-01-01 00:00:00.000002012
2359   1970-01-01 00:00:00.000002012
2360   1970-01-01 00:00:00.000002012
2361   1970-01-01 00:00:00.000002012
Name: Review Date, Length: 2274, dtype: datetime64[ns]

In [31]:
df.dtypes

REF                                          int64
Company (Manufacturer)                      object
Company Location                            object
Review Date                         datetime64[ns]
Country of Bean Origin                      object
Specific Bean Origin or Bar Name            object
Cocoa Percent                               object
Ingredients                                 object
Most Memorable Characteristics              object
Rating                                     float64
year                                         int64
dtype: object

In [32]:
#df['Date']= pd.to_datetime(df['Date'])

In [33]:
df

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating,year
0,5,Jacque Torres,U.S.A.,1970-01-01 00:00:00.000002006,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00,1970
1,15,Neuhaus (Callebaut),Belgium,1970-01-01 00:00:00.000002006,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75,1970
2,15,Neuhaus (Callebaut),Belgium,1970-01-01 00:00:00.000002006,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00,1970
3,15,Scharffen Berger,U.S.A.,1970-01-01 00:00:00.000002006,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50,1970
4,15,Scharffen Berger,U.S.A.,1970-01-01 00:00:00.000002006,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00,1970
...,...,...,...,...,...,...,...,...,...,...,...
2357,995,Bahen & Co.,Australia,1970-01-01 00:00:00.000002012,Madagascar,Sambirano,70%,"2- B,S","unrefined, flat, grassy",3.00,1970
2358,999,Mast Brothers,U.S.A.,1970-01-01 00:00:00.000002012,Venezuela,Chuao,73%,"2- B,S","gritty, sour, sweet",2.75,1970
2359,999,Mast Brothers,U.S.A.,1970-01-01 00:00:00.000002012,Blend,Madagascar,72%,"2- B,S","gritty, overly tart, sour",2.50,1970
2360,999,Bahen & Co.,Australia,1970-01-01 00:00:00.000002012,Brazil,Bahia,70%,"2- B,S","chalky, intense, chemical",2.50,1970
2361,999,Bahen & Co.,Australia,1970-01-01 00:00:00.000002012,Blend,Houseblend,70%,"2- B,S","chalky, fragrant, then off",2.50,1970

In [35]:
#let's fix that nanosecond thing

In [36]:
df['Review Date'] = df['Review Date'].astype('datetime64[Y]')

<ipython-input-36-f8bd6166a227>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Review Date'] = df['Review Date'].astype('datetime64[Y]')

In [37]:
import datetime

In [38]:
df['Review Date'].dt.year

0       1970
1       1970
2       1970
3       1970
4       1970
        ...
2357    1970
2358    1970
2359    1970
2360    1970
2361    1970
Name: Review Date, Length: 2274, dtype: int64

In [39]:
df

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating,year
0,5,Jacque Torres,U.S.A.,1970-01-01,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00,1970
1,15,Neuhaus (Callebaut),Belgium,1970-01-01,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75,1970
2,15,Neuhaus (Callebaut),Belgium,1970-01-01,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00,1970
3,15,Scharffen Berger,U.S.A.,1970-01-01,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50,1970
4,15,Scharffen Berger,U.S.A.,1970-01-01,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00,1970
...,...,...,...,...,...,...,...,...,...,...,...
2357,995,Bahen & Co.,Australia,1970-01-01,Madagascar,Sambirano,70%,"2- B,S","unrefined, flat, grassy",3.00,1970
2358,999,Mast Brothers,U.S.A.,1970-01-01,Venezuela,Chuao,73%,"2- B,S","gritty, sour, sweet",2.75,1970
2359,999,Mast Brothers,U.S.A.,1970-01-01,Blend,Madagascar,72%,"2- B,S","gritty, overly tart, sour",2.50,1970
2360,999,Bahen & Co.,Australia,1970-01-01,Brazil,Bahia,70%,"2- B,S","chalky, intense, chemical",2.50,1970
2361,999,Bahen & Co.,Australia,1970-01-01,Blend,Houseblend,70%,"2- B,S","chalky, fragrant, then off",2.50,1970

In [40]:
df["Year"] = df['Review Date'].dt.year

<ipython-input-40-ad47682e2523>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"] = df['Review Date'].dt.year

In [41]:
df.drop('Review Date', axis=1)

,REF,Company (Manufacturer),Company Location,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating,year,Year
0,5,Jacque Torres,U.S.A.,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00,1970,1970
1,15,Neuhaus (Callebaut),Belgium,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75,1970,1970
2,15,Neuhaus (Callebaut),Belgium,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00,1970,1970
3,15,Scharffen Berger,U.S.A.,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50,1970,1970
4,15,Scharffen Berger,U.S.A.,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00,1970,1970
...,...,...,...,...,...,...,...,...,...,...,...
2357,995,Bahen & Co.,Australia,Madagascar,Sambirano,70%,"2- B,S","unrefined, flat, grassy",3.00,1970,1970
2358,999,Mast Brothers,U.S.A.,Venezuela,Chuao,73%,"2- B,S","gritty, sour, sweet",2.75,1970,1970
2359,999,Mast Brothers,U.S.A.,Blend,Madagascar,72%,"2- B,S","gritty, overly tart, sour",2.50,1970,1970
2360,999,Bahen & Co.,Australia,Brazil,Bahia,70%,"2- B,S","chalky, intense, chemical",2.50,1970,1970
2361,999,Bahen & Co.,Australia,Blend,Houseblend,70%,"2- B,S","chalky, fragrant, then off",2.50,1970,1970

Do beans of the same latitude taste better

Is there correlation between latitude and quality


We could look into climate
What country makes best chocolate


Labor markets

Price of beans per country

Where do most people source cocoa beans

I will search for datasets

In [42]:
#I suggest running two train test splits so you have both testing? and validation data

In [43]:
df["Country of Bean Origin"].value_counts(normalize=True)

Venezuela             0.105101
Peru                  0.092348
Dominican Republic    0.090150
Ecuador               0.087071
Madagascar            0.071240
                        ...
Sulawesi              0.000440
Burma                 0.000440
Gabon                 0.000440
Tobago                0.000440
DR Congo              0.000440
Name: Country of Bean Origin, Length: 61, dtype: float64

In [44]:
df.shape

(2274, 12)

Support Vector Classifiers (SVCs)
Try it as binary - make it two buckets
The seven buckets can be your secondary result
Is it good or bad first

In [45]:
temp = pd.read_excel('../../../data/cckp_historical_data_0.xls', sheet_name="Country_temperatureCRU")

In [46]:
temp

,ISO_3DIGIT,Jan_Temp,Feb_temp,Mar_temp,Apr_Temp,May_temp,Jun_Temp,July_Temp,Aug_Temp,Sept_temp,Oct_temp,Nov_Temp,Dec_temp,Annual_temp
0,AFG,0.073058,2.109406,7.596974,13.370239,18.216310,23.201315,25.258537,23.766517,19.034575,12.992646,7.004094,2.433517,12.921455
1,AGO,22.582236,22.683536,22.784139,22.353582,20.739575,18.373315,17.946175,19.902466,22.187548,23.181599,22.786151,22.610858,21.510933
2,ALB,2.023067,3.218058,6.035317,9.917867,14.442750,17.927750,20.538917,20.479667,17.159083,12.265775,7.575808,3.653617,11.269800
3,ARE,18.427522,19.428044,22.612913,26.578435,30.623652,32.457087,33.796130,33.550869,31.743130,28.343218,24.061783,20.283739,26.825609
4,ARG,20.803533,19.899523,17.514634,14.046284,10.647732,7.657256,7.421399,9.015955,11.529476,14.674651,17.544032,19.828148,14.215225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,VUT,25.331500,25.445000,25.228500,24.476500,23.520000,22.793500,22.235001,22.216500,22.487000,23.263500,24.276500,24.811501,23.840500
174,YEM,18.352981,19.253071,20.816974,23.554974,25.859500,27.802786,26.982864,26.776929,26.128136,23.016221,20.303857,19.037623,23.157169
175,ZAF,23.194247,22.655704,21.102496,17.741858,14.241581,11.162377,11.071015,12.974351,16.029367,18.310131,20.480351,22.199018,17.596873
176,ZMB,22.887856,22.936512,22.901632,21.911092,19.580152,17.362052,17.067240,19.471812,22.917512,24.669040,24.192320,23.112300,21.584132
177,ZWE,23.899787,23.491309,22.916029,21.147287,18.398706,15.794618,15.642147,17.902919,21.365949,23.735250,24.232647,23.850044,21.031390

In [47]:
tempandrain.shape

NameError: name 'tempandrain' is not defined

In [ ]:
precipitation = pd.read_excel('../../../data/cckp_historical_data_0.xls', sheet_name="Country_precipitationCRU")
precipitation

In [48]:
latlong = pd.read_csv('../../../data/latlong - Sheet1.csv')

In [49]:
latlong

    country   latitude  longitude                  name
0        AD  42.546245   1.601554               Andorra
1        AE  23.424076  53.847818  United Arab Emirates
2        AF  33.939110  67.709953           Afghanistan
3        AG  17.060816 -61.796428   Antigua and Barbuda
4        AI  18.220554 -63.068615              Anguilla
..      ...        ...        ...                   ...
240      YE  15.552727  48.516388                 Yemen
241      YT -12.827500  45.166244               Mayotte
242      ZA -30.559482  22.937506          South Africa
243      ZM -13.133897  27.849332                Zambia
244      ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [50]:
#did not work - merge(df,latlong,sort=FALSE)
create a python function
if country name return long and lat

SyntaxError: invalid syntax (<ipython-input-50-39792451c286>, line 2)

In [51]:
print(df["Country of Bean Origin"].unique())

['Ghana' 'Sao Tome' 'Blend' 'Colombia' 'Dominican Republic' 'Madagascar'
 'Papua New Guinea' 'Venezuela' 'U.S.A.' 'Jamaica' 'Vanuatu' 'Ecuador'
 'Bolivia' 'Trinidad' 'Mexico' 'Sri Lanka' 'Peru' 'Indonesia' 'Cuba'
 'Liberia' 'Panama' 'Brazil' 'Burma' 'Belize' 'St. Lucia' 'Nicaragua'
 'Vietnam' 'Gabon' 'Congo' 'Puerto Rico' 'Costa Rica' 'Haiti'
 'Philippines' 'Tobago' 'Martinique' 'Grenada' 'Guatemala' 'Honduras'
 'Fiji' 'Uganda' 'Tanzania' 'El Salvador' 'Ivory Coast' 'Australia'
 'Cameroon' 'Togo' 'Malaysia' 'Solomon Islands' 'Samoa' 'India' 'Suriname'
 'Nigeria' 'Sulawesi' 'Taiwan' 'Sierra Leone' 'Sumatra' 'Thailand'
 'DR Congo' 'St.Vincent-Grenadines' 'Sao Tome & Principe' 'Principe']

In [54]:
def lat(country):
    lat_dict = {'Ghana':7.946527, 'Sao Tome':0.18636, 'Blend':np.NAN, 'Colombia':4.570868, 'Dominican Republic':18.735693, 'Madagascar':-18.766947,
 'Papua New Guinea':-6.314993, 'Venezuela':6.42375, 'U.S.A.':19.8968, 'Jamaica':18.109581, 'Vanuatu':-15.376706, 'Ecuador':-1.831239,
 'Bolivia':-16.290154, 'Trinidad':10.691803, 'Mexico':23.634501, 'Sri Lanka':7.873054, 'Peru':-9.189967, 'Indonesia':-0.789275, 'Cuba':21.521757,
 'Liberia':6.428055, 'Panama':8.537981, 'Brazil':-14.235004, 'Burma':21.913965, 'Belize':17.189877, 'St. Lucia':13.909444, 'Nicaragua':12.865416,
 'Vietnam':14.058324, 'Gabon':-0.803689, 'Congo':-0.228021, 'Puerto Rico':18.220833, 'Costa Rica':9.748917, 'Haiti':18.971187,
 'Philippines':12.879721, 'Tobago':10.691803, 'Martinique':14.641528, 'Grenada':12.262776, 'Guatemala':15.783471, 'Honduras':15.199999,
 'Fiji':-16.578193, 'Uganda':1.373333, 'Tanzania':-6.369028, 'El Salvador':13.794185, 'Ivory Coast':7.5400, 'Australia':-25.274398,
 'Cameroon':7.369722, 'Togo':8.619543, 'Malaysia':4.210484, 'Solomon Islands':-9.64571, 'Samoa':-13.759029, 'India':20.593684, 'Suriname':3.919305,
 'Nigeria':9.081999, 'Sulawesi':1.8479, 'Taiwan':23.69781, 'Sierra Leone':8.460555, 'Sumatra':0.5897, 'Thailand':15.870032,
 'DR Congo':4.0383, 'St.Vincent-Grenadines':12.984305, 'Sao Tome & Principe':0.18636, 'Principe':0.18636}
    if country in lat_dict.keys():
        return lat_dict[country]
    else:
        return np.nan

df['Latitude'] = df["Country of Bean Origin"].apply(lat)

<ipython-input-54-0e228b7e2df0>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Latitude'] = df["Country of Bean Origin"].apply(lat)

In [55]:
df

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating,year,Year,Latitude
0,5,Jacque Torres,U.S.A.,1970-01-01,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00,1970,1970,7.946527
1,15,Neuhaus (Callebaut),Belgium,1970-01-01,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75,1970,1970,0.186360
2,15,Neuhaus (Callebaut),Belgium,1970-01-01,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00,1970,1970,NaN
3,15,Scharffen Berger,U.S.A.,1970-01-01,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50,1970,1970,NaN
4,15,Scharffen Berger,U.S.A.,1970-01-01,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00,1970,1970,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2357,995,Bahen & Co.,Australia,1970-01-01,Madagascar,Sambirano,70%,"2- B,S","unrefined, flat, grassy",3.00,1970,1970,-18.766947
2358,999,Mast Brothers,U.S.A.,1970-01-01,Venezuela,Chuao,73%,"2- B,S","gritty, sour, sweet",2.75,1970,1970,6.423750
2359,999,Mast Brothers,U.S.A.,1970-01-01,Blend,Madagascar,72%,"2- B,S","gritty, overly tart, sour",2.50,1970,1970,NaN
2360,999,Bahen & Co.,Australia,1970-01-01,Brazil,Bahia,70%,"2- B,S","chalky, intense, chemical",2.50,1970,1970,-14.235004
2361,999,Bahen & Co.,Australia,1970-01-01,Blend,Houseblend,70%,"2- B,S","chalky, fragrant, then off",2.50,1970,1970,NaN

In [56]:
def long(country):
    long_dict = {'Ghana':-1.023194, 'Sao Tome':6.613081, 'Blend':np.NAN, 'Colombia':-74.297333, 'Dominican Republic':-70.162651, 'Madagascar':46.869107,
 'Papua New Guinea':143.95555, 'Venezuela':-66.58973, 'U.S.A.':155.5828, 'Jamaica':-77.297508, 'Vanuatu':166.959158, 'Ecuador':-78.183406,
 'Bolivia':-63.588653, 'Trinidad':-61.222503, 'Mexico':-102.552784, 'Sri Lanka':80.771797, 'Peru':-75.015152, 'Indonesia':113.921327, 'Cuba':-77.781167,
 'Liberia':-9.429499, 'Panama':-80.782127, 'Brazil':-51.92528, 'Burma':95.956223, 'Belize':-88.49765, 'St. Lucia':-60.978893, 'Nicaragua':-85.207229,
 'Vietnam':108.277199, 'Gabon':11.609444, 'Congo':15.827659, 'Puerto Rico':-66.590149, 'Costa Rica':-83.753428, 'Haiti':-72.285215,
 'Philippines':121.774017, 'Tobago':-61.222503, 'Martinique':-61.024174, 'Grenada':-61.604171, 'Guatemala':-90.230759, 'Honduras':-86.241905,
 'Fiji':179.414413, 'Uganda':32.290275, 'Tanzania':34.888822, 'El Salvador':-88.89653, 'Ivory Coast':5.5471, 'Australia':133.775136,
 'Cameroon':12.354722, 'Togo':0.824782, 'Malaysia':101.975766, 'Solomon Islands':160.156194, 'Samoa':-172.104629, 'India':78.96288, 'Suriname':-56.027783,
 'Nigeria':8.675277, 'Sulawesi':120.5279, 'Taiwan':120.960515, 'Sierra Leone':-11.779889, 'Sumatra':101.3431, 'Thailand':100.992541,
 'DR Congo':21.758664, 'St.Vincent-Grenadines':-61.287228, 'Sao Tome & Principe':6.613081, 'Principe':6.613081}
    if country in long_dict.keys():
        return long_dict [country]
    else:
        return np.nan

df['Longitude'] = df["Country of Bean Origin"].apply(long)

<ipython-input-56-04b8498b703e>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Longitude'] = df["Country of Bean Origin"].apply(long)

In [5]:
temp = pd.read_csv('../../../data/GlobalLandTemperaturesByMajorCity.csv')
temp

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
...,...,...,...,...,...,...,...
239172,2013-05-01,18.979,0.807,Xian,China,34.56N,108.97E
239173,2013-06-01,23.522,0.647,Xian,China,34.56N,108.97E
239174,2013-07-01,25.251,1.042,Xian,China,34.56N,108.97E
239175,2013-08-01,24.528,0.840,Xian,China,34.56N,108.97E
239176,2013-09-01,NaN,NaN,Xian,China,34.56N,108.97E

In [8]:
def temp(country):
    temp_dict = {'Ghana':27.25, 'Sao Tome':27, 'Blend':np.NAN, 'Colombia':24.40, 'Dominican Republic':23.93, 'Madagascar':22.01,
 'Papua New Guinea':25.05, 'Venezuela':25.32, 'U.S.A.':27.5, 'Jamaica':24.47, 'Vanuatu':23.84, 'Ecuador':21.33,
 'Bolivia':20.98, 'Trinidad':25.86, 'Mexico':20.54, 'Sri Lanka':26.76, 'Peru':19.46, 'Indonesia':25.72, 'Cuba':25.13,
 'Liberia':25.25, 'Panama':24.72, 'Brazil':24.92, 'Burma':22.96, 'Belize':25.06, 'St. Lucia':27, 'Nicaragua':24.59,
 'Vietnam':24.07, 'Gabon':25.00, 'Congo':24.52, 'Puerto Rico':24.28, 'Costa Rica':23.85, 'Haiti':24.48,
 'Philippines':25.33, 'Tobago':25.86, 'Martinique':26.7, 'Grenada':28, 'Guatemala':23.07, 'Honduras':23.39,
 'Fiji':23.37, 'Uganda':22.60, 'Tanzania':22.31, 'El Salvador':24.77, 'Ivory Coast':26.30, 'Australia':21.51,
 'Cameroon':24.53, 'Togo':26.80, 'Malaysia':25.14, 'Solomon Islands':25.68, 'Samoa':28.5, 'India':23.95, 'Suriname':25.77,
 'Nigeria':26.78, 'Sulawesi':21.4, 'Taiwan':22, 'Sierra Leone':26.04, 'Sumatra':25.2, 'Thailand':26.25,
 'DR Congo':24.04, 'St.Vincent-Grenadines':26.82, 'Sao Tome & Principe':24.7, 'Principe':24.7}
    if country in temp_dict.keys():
        return temp_dict[country]
    else:
        return np.nan

df['Temperature (Celsius)'] = df["Country of Bean Origin"].apply(temp)

In [9]:
df

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating,Temperature,Temperature (Celsius)
0,5,Jacque Torres,U.S.A.,2006,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00,27.25,27.25
1,15,Neuhaus (Callebaut),Belgium,2006,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75,27.00,27.00
2,15,Neuhaus (Callebaut),Belgium,2006,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00,NaN,NaN
3,15,Scharffen Berger,U.S.A.,2006,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50,NaN,NaN
4,15,Scharffen Berger,U.S.A.,2006,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2357,995,Bahen & Co.,Australia,2012,Madagascar,Sambirano,70%,"2- B,S","unrefined, flat, grassy",3.00,22.01,22.01
2358,999,Mast Brothers,U.S.A.,2012,Venezuela,Chuao,73%,"2- B,S","gritty, sour, sweet",2.75,25.32,25.32
2359,999,Mast Brothers,U.S.A.,2012,Blend,Madagascar,72%,"2- B,S","gritty, overly tart, sour",2.50,NaN,NaN
2360,999,Bahen & Co.,Australia,2012,Brazil,Bahia,70%,"2- B,S","chalky, intense, chemical",2.50,24.92,24.92
2361,999,Bahen & Co.,Australia,2012,Blend,Houseblend,70%,"2- B,S","chalky, fragrant, then off",2.50,NaN,NaN

To find average temperature for Hawaii I averaged the average for winter and summer.

In [ ]:
df["Latitude"] = []

In [ ]:
#does not work bc some bean origins are the same in the originala dataframe
merged_df1 = df.merge(temp, how = 'inner', on = ['Country of Bean Origin', 'country'])

In [ ]:
df

In [ ]:
#count 5 over on the csv
#Trinidad, Madagascar, Blend
df["Latitude"] = [7.946527, 0.18636, np.NAN, np.NAN, np.NAN, np.NAN, 4.570868, 18.735693, -18.766947, -6.314993, 0.18636, np.NAN, np.NAN, 19.8968, np.NAN, 18.109581, 4.570868, 4.570868, 4.570868, 6.42375, 6.42375, -15.376706, np.NAN, 6.42375, np.NAN, -1.831239, -18.766947, 6.42375, np.NAN, 18.109581, -16.290154, np.NAN, np.NAN, np.NAN, -18.766947, 6.42375, 10.691803, -18.766947, np. NAN,  np. NAN, 23.634501, 6.42375, 7.873054, np.NAN, 6.42375, -9.189967, 6.42375, -18.766947, 6.42375, 6.42375, -0.789275, -1.831239, -1.831239, np.NAN, np.NAN, 21.521757, np.NAN, np.NAN, 6.428055, 19.8968, -9.189967, 19.8968, 19.8968, -18.766947, 8.537981, -1.831239, -14.235004, -6.314993, 21.913965, 4.570868, 6.42375, -9.189967, 18.735693, -9.189967, -9.189967, -1.831239, -9.189967, 18.735693, 17.189877, -16.290154, 6.42375, 6.42375, 13.909444, 17.189877, -0.789275, 18.735693, -9.189967, -1.831239, 12.865416, 12.865416, 14.058324, 10.691803, -18.766947, -14.235004, 10.691803, -1.831239, -0.803689, -9.189967, np.NAN, -4.038333, 18.735693, 18.220833, 9.748917, 9.748917, -14.235004, 18.735693, np.NAN, -1.831239, 18.109581, 18.971187, 12.865416, -14.235004, -14.235004, -16.290154, 18.735693, 18.735693, -18.766947, -18.766947, 6.42375, -14.235004, -1.831239, -1.831239, -18.766947, 18.735693, 18.735693, -14.235004, -14.235004, 18.735693, -1.831239, 10.691803, -9.189967, np.NAN, 6.42375, 6.42375, np.NAN, -16.290154]
df["Longitude"] = [-1.023194, 6.613081, np.NAN, np.NAN, np.NAN, np.NAN, -74.297333, -70.162651, 46.869107, 143.95555, 6.613081, np.NAN, np.NAN, -66.58973, 155.5828, np.NAN, -77.297508, -74.297333, -74.297333, -74.297333, -66.58973, -66.58973, 166.959158, -66.58973, np.NAN, -66.58973, -78.183406, 46.869107, -66.58973, np.NAN, -77.297508, -63.588653, np.NAN, np.NAN, np.NAN, 46.869107, -66.58973, -61.222503, 46.869107, np.NAN,  np. NAN, -102.552784, -66.58973, 80.771797, np.NAN, -66.58973, -75.015152, -66.58973, 46.869107, -66.58973, -66.58973, 113.921327, -78.183406, -78.183406, np.NAN, np.NAN, -77.781167, np.NAN, np.NAN, -9.429499, 155.5828, -75.015152, 155.5828, 155.5828, 46.869107, -80.782127, -78.183406, -51.92528, 143.95555, 95.956223, -74.297333, -66.58973, -75.015152, -70.162651, -75.015152, -75.015152, -78.183406, -75.015152, -70.162651, -88.49765, -63.588653, -66.58973 -66.58973, -60.978893, -88.49765, 113.921327, -70.162651, -75.015152, -78.183406, -85.207229, -85.207229, 108.277199, -61.222503, 46.869107, -51.92528, -61.222503, -78.183406, 11.609444, -75.015152, np.NAN, 21.758664, -70.162651, -66.590149, -83.753428, -83.753428, -51.92528, -70.162651, np.NAN, -78.183406, -77.297508, -72.285215, -85.207229, -51.92528, -51.92528, -63.588653, -70.162651, -70.162651, 46.869107, 46.869107, -66.58973, -51.92528, -78.183406, -78.183406, 46.869107, -70.162651, -70.162651, -51.92528, -51.92528, -70.162651, -78.183406, -61.222503, -75.015152, np.NAN, -66.58973, -66.58973, np.NAN, -63.588653]

In [ ]:
#mention googling hawaii
#stopped after hawaii and jamaica

In [ ]:
Save 7 bin model for the part where you talk about future work
Care a lot about true positivies
False positive bad
You could show a confusion matrix

Recall for disease

We wanna use precision
Double check that

Slide on precision - explain why precision
Explain to dummy

Show them!
feed new info into the model
how will a hershey's bar do?
show how a high scorer goes
and how a poor scorer goes

We could rate it ourselves, see how the model rates it

In [11]:
def precipitation(country):
    precipitation_dict = {'Ghana':1184.94, 'Sao Tome':1382, 'Blend':np.NAN, 'Colombia':2618.59, 'Dominican Republic':1417.07, 'Madagascar':1475.68,
 'Papua New Guinea':3106.06, 'Venezuela':1957.65, 'U.S.A.':433, 'Jamaica':2114.18, 'Vanuatu':2662.11, 'Ecuador':1945.27,
 'Bolivia':1095.56, 'Trinidad':1831.41, 'Mexico':738.14, 'Sri Lanka':1699.41, 'Peru':1513.24, 'Indonesia':2801.54, 'Cuba':1329.49,
 'Liberia':2460.08, 'Panama':2487.03, 'Brazil':1762.97, 'Burma':2007.70, 'Belize':2089.26, 'St. Lucia':1400, 'Nicaragua':2406.97,
 'Vietnam':1835.16, 'Gabon':1819.44, 'Congo':1635.05, 'Puerto Rico':2126.02, 'Costa Rica':3268.27, 'Haiti':1480.20,
 'Philippines':2317.59, 'Tobago':1831.41, 'Martinique':1159, 'Grenada':1208, 'Guatemala':2606.33, 'Honduras':1945.76,
 'Fiji':2905.11, 'Uganda':1207.90, 'Tanzania':1052.38, 'El Salvador':1672.81, 'Ivory Coast':1356.08, 'Australia':473.09,
 'Cameroon':1613.07, 'Togo':1189.11, 'Malaysia':2992.79, 'Solomon Islands':3157.37, 'Samoa':4500, 'India':1072.22, 'Suriname':2316.81,
 'Nigeria':1138.53, 'Sulawesi':3835, 'Taiwan':2590, 'Sierra Leone':2471.72, 'Sumatra':4000, 'Thailand':1532.48,
 'DR Congo':1535.04, 'St.Vincent-Grenadines':1585.97, 'Sao Tome & Principe':1382, 'Principe':1382}
    if country in precipitation_dict.keys():
        return precipitation_dict[country]
    else:
        return np.nan

df['Precipitation (millimeters)'] = df["Country of Bean Origin"].apply(precipitation)

In [12]:
df

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating,Temperature,Temperature (Celsius),Precipitation (millimeters)
0,5,Jacque Torres,U.S.A.,2006,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00,27.25,27.25,1184.94
1,15,Neuhaus (Callebaut),Belgium,2006,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75,27.00,27.00,1382.00
2,15,Neuhaus (Callebaut),Belgium,2006,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00,NaN,NaN,NaN
3,15,Scharffen Berger,U.S.A.,2006,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50,NaN,NaN,NaN
4,15,Scharffen Berger,U.S.A.,2006,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2357,995,Bahen & Co.,Australia,2012,Madagascar,Sambirano,70%,"2- B,S","unrefined, flat, grassy",3.00,22.01,22.01,1475.68
2358,999,Mast Brothers,U.S.A.,2012,Venezuela,Chuao,73%,"2- B,S","gritty, sour, sweet",2.75,25.32,25.32,1957.65
2359,999,Mast Brothers,U.S.A.,2012,Blend,Madagascar,72%,"2- B,S","gritty, overly tart, sour",2.50,NaN,NaN,NaN
2360,999,Bahen & Co.,Australia,2012,Brazil,Bahia,70%,"2- B,S","chalky, intense, chemical",2.50,24.92,24.92,1762.97
2361,999,Bahen & Co.,Australia,2012,Blend,Houseblend,70%,"2- B,S","chalky, fragrant, then off",2.50,NaN,NaN,NaN